*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

@import 'partials/header';

body{
  background-color: lightblue;

  .container{
    justify-content: center;
    flex-direction: column;

  }
}

@import 'partials/home';
