*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

@import 'partials/header';

body{
  font-family: 'Oswald', sans-serif;


  .container{
    background-color: #FAF9F0;
    justify-content: center;
    flex-direction: column;

  }
}

@import 'partials/content';
@import 'partials/footer';
