.jumbo {
  width:100%;
  height:400px;
  background-image: url("/img/hotel.png");
  background-size: cover;
  background-position: top center;
}


  .form-section{
    padding:40px 0;
    width:100%;

    .pag-form{
      line-height: 3;
      text-align: center;
      display: flex;
      flex-direction: column;
      width:400px;
      margin:auto;
      justify-content: center;
      align-items: center;

      button{
        display: block;
        text-align: center;
        width:175px;
        padding:20px 0;
        color: #f0efeb;
        align-self: flex-end;
        background-color: #0F1C2E;
        margin-top: 20px;
        margin-right:58px;

        &:hover{
          cursor: pointer;
        }
      }
    }
  }

  .list{
    padding:40px 0;
    width:100%;

    table{
      padding:10px;
      text-align: left;
      margin:auto;
      width:400px;
      border:1px solid #3D405B;

      th,td{
        min-width:100px;
        border-bottom: 3px solid #3D405B;
      }

      tr:last-of-type>td{
        border-bottom: 0;
      }

      .delete,.edit{
        text-align: center;
      }

      i{
        color:#0F1C2E;

        &:hover{
          color:red;

        }
      }
    }


    h2{
      margin: auto;
      width: 400px;
      padding-bottom: 30px;
    }

    ul{
      margin:auto;
      width:300px;
      list-style-type: none;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;

      a{
        line-height: 2;
        text-decoration: none;
        color:#3D405B;
      }

    }

  }

  .list-item{
    padding: 40px;
    margin:auto;
    width:800px;
    display: flex;
    justify-content: center;
    align-items: center;

    ul{
      padding: 0 40px;
      list-style-type: none;
      display: flex;
      justify-content: center;
      align-items: center;

      li{
        padding: 0 20px;
      }
    }
  }

  .form{

    width:100%;
    display: flex;
    justify-content: center;
    padding:40px;

    label{
      margin-left: 30px;
      margin-right: 10px;
    }

    input{
      width:60px;
    }

    button{
      margin-left: 30px;
      padding:0 20px;
      color: #f0efeb;
      background-color: #0F1C2E;

      &:hover{
        cursor: pointer;
      }

    }


  }
