#footer{
  margin:auto;
  font-family: 'Roboto Condensed', sans-serif;
  color: #f0efeb;
  font-size: 15px;
  font-weight: thin;
  padding:30px 0;
  width:100%;
  min-height: 80px;
  background-color: #0F1C2E;
  display: flex;
  justify-content: center;

  ul{
    list-style-type: none;
    padding:0 30px;
  }

}
