#header{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  padding:30px 0;
  width:100%;
  min-height: 60px;
  background-color: black;

  ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;

    li>a{
      text-decoration: none;
      display: block;
      color:white;
      padding:20px 40px;

      &:hover{
        color:red;
      }
    }
  }
}
