#header{
  font-family: 'Roboto Condensed', sans-serif;
  font-size: 18px;
  padding:30px 0;
  width:100%;
  min-height: 50px;
  background-color:  #3D405B;

  ul{
    list-style-type: none;
    display: flex;
    justify-content: center;
    align-items:center;
    color:white;

    .active{
      background-color: red;
    }

    li>a{
      text-decoration: none;
      display: block;
      color:#F4F1DE;
      padding:20px 40px;

      &:hover{

        color:#E6DFB3;
      }
    }
  }
}
